* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/*Barra de Navegação*/

body {
    background-color: #F5F2ED;
}

nav {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #001D2C;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-size: larger;
}


nav li {
    color: white;
    transition: 0.8s ease-in-out;
}

nav li:hover {
    color: black;
    transition: 0.8s ease-in-out;
    cursor: pointer;
    background-color: #F5007B;
    border-radius: 30px;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* FIM - Barra de Navegação*/

/*Breve Apresentação*/
header {
    display: flex;
    height: 700px;
    width: 100%;
    align-items: center;
}

#eu {
    display: flex;
    width: 55%;
    height: 60%;
    margin-left: 60px;
    border-radius: 30px;
}

.history {
    margin-left: 40px;
    margin-right: 50px;
}

ul {
    list-style-type: none;
}

li {
    margin-left: 30px;
    font-size: large;
}

ul a img {
    width: 70px;
    height: auto;
}

.history p {
    font-size: large;
}

/*FIM - Breve Apresentação*/
main {
    text-align: center;
    justify-content: center;
    display: flex;
}

#titulo {
    justify-content: center;
    width: 100%;
    align-items: center;
    display: flex;
    margin-bottom: 20px;
}


.estrada {
    justify-content: center;
    width: 95%;
    height: 100%;
    background-color: #474747;
    border-radius: 30px;
    margin-bottom: 50px;
}

.evento {
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 50px;
    margin-left: 50px;
    background-color: #FFD700;
    border-radius: 50px;
    padding: 40px;
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.4);
}

/*Perguntar ao Otávio sobre como colcoar isso na parte de baixo*/
.estrada p {
    justify-content: flex-end;
    width: 100%;
    text-align: center;
    align-items: flex-end;
}

#box {
    display: flex;
}

a {
    color: white
}

footer {
    background-color: #001D2C;
    height: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    display: flex;
}