* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
/*Tudo terminado*/
body {
    background-color: #F5F2ED;
}

nav {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #001D2C;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-size: larger;
}

nav li {
    color: white;
}

nav li:hover {
    color: black;
    transition: 1s ease-in-out;
    cursor: pointer;
    background-color: #F5007B;
    border-radius: 30px;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul a img{
    width: 70px;
    height: auto;
}


header {
    display: flex;
    height: 100px;
    align-items: center;
    height: 100px;

}

header h1 {
    width: 100%;
    animation: oi 0.6s infinite alternate;
    justify-content: center;
    text-align: center;
    position: relative;
}

@keyframes oi {
    from {
        color: #F5007B;
        top: 1px;
    }

    to {
        color: #001D2C;
        top: 10px;
    }
}

main {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

input {
    border-radius: 20px;
    height: 40px;
    width: 300px;
    border: 0;
    color: black;
    padding: 10px;
    margin: 5px;
}

textarea {
    border: 0;
    color: black;
    padding: 20px;
    margin: 5px;
    border-radius: 20px;
}

button {
    margin-top: 30px;
    height: 50px;
    width: 200px;
    font-size: large;
    background-color: #F5007B;
    border: 0;
    border-radius: 20px;
}

button:hover {
    cursor: pointer;
    height: 60px;
    width: 220px;
    transition: 0.5s;
}

footer {
    width: 100%;
    height: 100px;
    align-items: center;
    background-color:#3f5661;
}

#social {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.socials {
    width: 50px;
    height: 50px;
}