
/*Tudo terminado*/

/*Universal*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

p {
    margin: 10px;
}

h2 {
    padding: 10px;
}

body {
    background-color: #F5F2ED;
}

/*Universal*/

/*Barra de Navegação*/

nav {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #001D2C;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-size: larger;
}

ul a li img{
    width: 70px;
    height: auto;
}

.links {
    transition: 0.8s ease-in-out;
    color: white;
}

.links:hover {
    color: black;
    transition: 0.8s;
    cursor: pointer;
    background-color: #F5007B;
    border-radius: 30px;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*FIM - Barra de Navegação*/
/*Competencias*/

header {
    display: flex;
    margin-top: 30px;
    width: 100%;
    text-align: center;
    height: 350px;
    justify-content: center;
    align-items: center;


}

header div {
    background-color: #374140;
    border-radius: 30px;
    width: 60%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}

header section h1 {
    color: #F5007B;
}

header section {
    height: 100%;
    color: white;
}

.competencia {
    transition: 0.8s ease-in-out;
    justify-content: center;
    align-items: center;
}

.competencia:hover {
    color: #F5007B;
    transition: 0.8s ease-in-out;
}

/*FIM - Competencias*/

/*Conteudo*/

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.bloco h3 {
    text-align: center;
}

.bloco {
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.service {
    margin: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.service ul li {
    margin-left: 50px;
}


footer {
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #001D2C;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}