img {
    width: 600px;
    height: 1000px;
}

h1 {
    text-align: center;
}

body{
    display: flex;
    flex-direction: column;
}

table {
    align-items: center;
    text-align: center;
    margin: auto;


}

footer {
    text-align: center;
    margin-top: 50px;
    padding: 10px;


}

header h1 {
    color: aqua;

}
