* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #ECECEC;
}

/*Parte de cima (tudo relacionado ao menu)*/

nav {
    display: flex;
    align-items: center;
    background-color: #0A2342;
    height: 90px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-size: larger;
    color: white;
}

.button{
    padding: 10px;
    background-color: #007A5E ;
    border-radius: 30px;

}
.button:hover{
    color: orange;
}


li:hover {
    color: black;
    transition: 1s;
    cursor: pointer;
}

/*FIM - Parte de cima*/


/*Imagem Principal*/

header {
    padding-top: 40px;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 500px;
}


header div {
    width: 80%;
    height: 80%;
}

header div:hover {
    width: 90%;
    transition: 2s;
    height: 90%;
    cursor: pointer;
}

#bolsa {
    width: 100%;
    height: 90%;
    border-radius: 30px;
    max-width: 100%;
}


/*FIM - Imagem Principal*/

/*Texto e Imagens Secundárias*/

main {
    background-color: #ECECEC;
    display: flex;
    height: 700px;
    width: 100%;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;

}

main .text:first-child {
    margin-left: 100px;
    margin-top: 50px;
    margin-right: 100px;
}

#main2 {
    display: flex;
    width: 90%;
    height: 90%;
    background-color: #3A6EA5;
    border-radius: 30px;
}

.text {
    width: 50%;
    height: 100%;
}


.coluna {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 25%;
    align-items: center;
    justify-content: center;
}

.caixa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    width: 80%;
}

.caixa p {
    background-color: yellow;
    margin-top: 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

.candle {
    text-align: center;
    height: 160px;
    width: 100%;
    cursor: pointer;
}


/*FIM - Texto e Imagens Secundárias*/


footer {
    display: flex;
    background-color: #0A2342;
    ;
    height: 100px;
}

footer h1 {
    color: white;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    display: flex;
    width: 100%;
}

/*FIM!!!! COM MUITO ESFORÇO E SUOR (e meu melhor amigo chat gpt :D)*/